.app {
  min-height: 100vh;
  background-color: black;
}

.head{
  display: flex;
  color: white;
  align-self: center;
  justify-content: center;
}

.characters{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.single-character{
  position: relative;
  width: 22%;
  height: 235px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16),
              0 3px 6px rgba(0,0,0,0.23);
}

.single-character::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.35),;
}

.single-character h3{
  color: black;
  position: relative;
  text-transform: uppercase;
}